/*
** This is the CSS for the web pages
*/

.container {
  margin:8% 5% 8% 3%;
  background-color: white;
  padding: 30px;
}

h1 {
  color: teal;
}

/*
** Start of styles for the navigation bar, including the logo
*/


.navbar-brand {
  height: auto;
  background-color: teal;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.navbar-nav {
    position: absolute;
    float: right;
    right: 10px;
    padding: 10px;
    background-color: whitesmoke;

}
/*
** End of styles for the navigation bar, including the logo
*/

#fixed-pic {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
#fixed-pic img {
    height: 100%;
    max-width: 350px;
    padding: 10px;
    float: left;
  }

  /*
  ** Sticky footer
  */
.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: auto;
  border:  2px solid teal;
  height: 40px;
  line-height: 40px;
  background-color: lightgray;
  text-align: center;
}

/*
** css styles only on contact
*/

/* form input boxes */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /*
  ** css styles only on portofolio
  */

/* Float 2 columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  text-align: center;
  background-color: grey;
  width: 350px;
  height: 350px; 
}

.card img {
  width: 350px;
  height: 350px; 
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin: 20px;
  }
}